<header></header>
<div class="user-detail clearfix animated fadeIn">
    
    <div class="avatar pull-left">
        <img class="img-responsive" alt="" src="img/user.jpg">
    </div>
    <div class="info pull-right">
        <div class="title">
            <a ng-href="#!/users/{{user._Id}}" ng-bind="user._DisplayName">John</a>
        </div>
        <div class="desc location" ng-bind="user._Location">Bangalore</div>
        <div class="desc reputation" ng-bind="user._Reputation | number">10</div>
        <div class="desc about" ng-bind-html="user._AboutMe | renderHtml">Tech geek</div>
    </div>
</div>

<div class="posts col-sm-12 col-md-6 col-lg-6">
    <h4>Posts</h4>
     <div class="info" ng-repeat="post in posts |  limitTo : 10">
        <div class="title">
            <a ng-href="#!/posts/{{post._Id}}" ng-bind="post._Title">John</a>
        </div>
        <div class="desc location">Comments: {{post._CommentCount}}</div>
        <div class="desc reputation">Score: {{post._Score}}</div>
        <div class="desc about">Tags:{{post._Tags}}</div>
        <div class="desc about">Views:{{post._ViewCount}}</div>
    </div>
</div>

<div class="posts col-sm-12 col-md-6 col-lg-6">
     <h4>Comments</h4>
     <div class="info" ng-repeat="comment in comments | limitTo : 10">
        <div class="title">
            <a ng-href="#!/comments/{{comment._Id}}" ng-bind="comment._Text">John</a>
        </div>
        <div class="desc reputation">Score: {{comment._Score}}</div>
    </div>
</div>